/* Nível 1: Básico e Texto (1-10) */
h1 {
  color: blue;
  font-size: 40px;
}

p {
  color: #666;
}

.destaque {
  background-color: yellow;
  font-weight: bold;
}

#unico {
  color: red;
  border: 1px solid black;
}

body {
  font-family: Arial;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.destaque {
  text-shadow: 1px 1px 2px gray;
}

/* Nível 2: Box Model (11-20) */
.box-1 {
  padding: 20px;
  border: 5px solid #ff0000;
  margin-bottom: 50px;
}

.box-2 {
  width: 50%;
  height: 100px;
  border-radius: 10%;
}

.caixa {
  box-sizing: border-box;
}

.box-3 {
  border-bottom: 1px solid #0000ff;
}

.box-2 {
  margin: 0 auto;
}

body {
  margin: 0;
}

/* Nível 3: Seletores Avançados (21-30) */
.container-lista li {
  color: #008000;
}

ul > li {
  color: #ffff00;
}

ul + p {
  color: #9d00ff;
}

ul ~ p {
  color: #ffa500;
}

li.especial {
  color: #0000ff;
}

* {
  font-family: "Courier New";
}

h1,
.box-1 {
  opacity: 0.8;
}

.container-lista li:first-child {
  color: #ff0000;
}

.container-lista li:nth-child(even) {
  background-color: #d3d3d3;
}

/* Nível 4: Pseudo-classes e Cores (31-40) */



/* Nível 5: Posição e Layout (41-50) */