/* Nível 1: Ativação (1-5) */
.container {
  display: flex;
  /*  display: inline-flex;            
  */
  background-color: lightgray;
  height: 300px;
  margin-bottom: 20px;
}

.item1 {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 200px;
}
.item2 {
  border: 1px solid red;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 200px;
}
.item3 {
  border: 1px solid green;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 200px;
}

/* Nível 2: Flex Direction (6-15) */
.container {
  flex-direction: row;
  /*     
       flex-direction: row;
       flex-direction: row-reverse; 
       flex-direction: column
       flex-direction: column-reverse;*/
}

.container-telemovel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.container-PC {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

/*Nível 3: Justify Content (16-25) */
.container {
  justify-content: flex-start;
  /*
     justify-content: space-around
     justify-content: space-evenly
     justify-content: center
     justify-content: flex-start
     justify-content: space-between
     justify-content: left
     justify-content: right;*/
}

/* Nível 4: Align Items (26-35)*/
.container {
  align-items: flex-start;
  /* 
     align-items: top
     align-items: bottom
     align-items: center
     align-items: stretch
     align-items: flex-start
     align-items: flex-end
     align-items: baseline */
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nível 5: Wrap e Espaçamento (36-45) */
.container {
  gap: 20px;
  flex-wrap: nowrap;
  /* 
     flex-wrap: nowrap
     flex-wrap: wrap
     flex-wrap: wrap-reverse */
}

.container {
  align-content: center;
  /* 
         align-content: center
         align-content: flex-start
         align-content: flex-end
         align-content: space-between
         align-content: space-around
         align-content: stretch */
}

.container {
  flex-flow: row wrap;
  /* flex-flow: column wrap
     flex-flow: row nowrap
     flex-flow: column nowrap */
}

.container {
  column-gap: 50px;
}

.container {
  row-gap: 10px;
}

/*  Grid de Cartões Responsiva */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid #333;
  width: 150px;
  height: 150px;
}

/* Nível 6: Desafios de Layout (46-50) */
.layout {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  width: 250px;
  height: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: gray;
  background-color: lightgray;
}

.hero{
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0;
    margin-top: 50px;
}